streamlit
streamlit
pandas
plotly
fpdf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
geopandas
streamlit-folium
folium
requests
google-generativeai
python-docx
xlsxwriter
openpyxl
